.orderedList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.para {
  color: #000000;
  font-family: 'Roboto';
  font-size: 18px;
}

.btn {
  background-color: #ffffff;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #ff0b37;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-left: 18px;
  outline: none;
  cursor: pointer;
}
